In [14]:
class User:
    

    def __init__ (self, name):
        self.name = name 
    
    def say_hello(self):
        print('Hello, my name is ' + self.name)

user1 = User('ss')

print( user1.name )
user1.say_hello()

ss
Hello, my name is ss

In [15]:
import turtle
import time

turtle.speed(0)  # Set the turtle's speed to the fastest

# Draw a square with smooth animation
for i in range(4):
    for _ in range(100):
        turtle.forward(1)
        time.sleep(0.01)  # Introduce a small delay between turtle movements
    turtle.right(90)

turtle.done()

Terminator:

In [13]:
for i in range(len([1,1,1])-1,0,-1):
    print(i )

2
1

In [4]:

from turtle import Screen, Turtle
import time
screen = Screen()
screen.setup(width=600, height=600)
screen.bgcolor("black")
screen.title("Snake Game")
starting_positions = [(0, 0), (-20, 0), (-40, 0)]
screen.tracer(0)

segments = []
for position in starting_positions:
    segment1 = Turtle("square")
    segment1.color("white")
    segment1.penup()
    segment1.goto(position)
    segments.append(segment1)

print( segments)


# game_is_on = True
# while game_is_on:
#     screen.update()
#     time.sleep(.3)
#     for seg in range(len(segments)-1, 0, -1):
#         # new_x = segments[seg]
#         print(segments[seg-1].xcor())

[<turtle.Turtle object at 0x105659180>, <turtle.Turtle object at 0x10565a3b0>, <turtle.Turtle object at 0x1056584f0>]

In [14]:

from turtle import Screen, Turtle
import time
screen = Screen()
screen.setup(width=600, height=600)
# screen.bgcolor("black")
screen.title("Snake Game")
starting_positions = [(0, 0), (-20, 0), (-40, 0)]

segments = []
for position in starting_positions:
    segment1 = Turtle("square")
    segment1.color("white")
    segment1.penup()
    segment1.goto(position)
    segments.append(segment1)

print( segments)
# print( segments[0].ycor())

screen.exitonclick()

Terminator:

In [1]:
a = [1,2,3,4]

In [4]:
for i in [1,2,3,4] :
    print(i+2)

3
4
5
6

In [ ]:

url = "https://hooks.slack.com/services/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" 

    payload = { 
    "blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ">*허들이 있는 모두가 알뜰폰 가입을 하고 싶게 만든다*"
			}
		},
		{
			"type": "section",
			"fields": [
				{
					"type": "mrkdwn",
					"text": f"`KR: {kr}` ({date}, 완전대조군대비증감)"
				},
				{
					"type": "mrkdwn",
					"text": f"`달성률: {acheived}` ({kr}(목표:630%))"
				}
			]
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": "Objective"
					},
					"url": "https://www.notion.so/moyoplan/OKR-c1b3a17a86c5465ea7c58da48fb32cfd?pvs=4",
					"action_id": "Open Objective"
				},
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": "KR Dashboard"
					},
					"url": "https://prod-apnortheast-a.online.tableau.com/#/site/moyoplan/views/_OKR_v2/OKR?:iid=1",
					"action_id": "Open Dashboard"
				}
			]
		}
	]
              }

    requests.post(url, json=payload)


def lambda_handler(event, context):
	sql = ''' 
	with hdm as (
	select  *
	from moyo_mart.hdm_okr
	where 1=1
	    and is_target = 1
	    and absolute_control is not null
	)
	, agg1  as (
	select
	reg_ts
	, absolute_control
	, sum( uuid_cnt ) as uuid_cnt
	, sum( cvr_cnt_cw24 ) as cvr_cnt_cw24
	from hdm
	group by 1,2
	order by reg_ts desc
	)
	, drn as (
	select *
	, densE_rank() over (order by reg_ts desc) as rank
	from agg1
	)
	, cal as (
	select
	*
	, 1.00*cvr_cnt_cw24/uuid_cnt as cvr_cw24
	from drn
	where 1=1
	    and rank = 2 -- 어제 기준
	)
	, wide as (
	select
	reg_ts
	,max (  case when absolute_control = 'experimental' then cvr_cw24 end ) as cvr_cw24_exp
	,max (  case when absolute_control = 'control' then cvr_cw24 end ) as cvr_cw24_ctl
	from cal
	group by 1
	)
	select
	reg_ts
	, concat (  cast ( round((cvr_cw24_exp/cvr_cw24_ctl -1)*100,0) as varchar  ), '%')   as cvr_cw24_exp_vs_ctl
	, concat (  cast ( round((cvr_cw24_exp/cvr_cw24_ctl -1)/6.3*100,0) as varchar  ), '%')   as acheived
	from wide
	
	'''
	
	df = wr.athena.read_sql_query(sql=sql, database="moyo_logs")
	date = df['reg_ts'][0]
	kr = df['cvr_cw24_exp_vs_ctl'][0]
	acheived = df['acheived'][0]
	send_message_to_slack(date,kr,acheived)


# def lambda_handler(event, context):
# 	import awswrangler  as wr
# 	import pandas as pd
# 	# import pandas.io.json
# 	import pymysql
# 	import datetime
# 	import json
	
	
	# load sql
	sql = '''
	select *
	from moyo_scraping.mno_scraping_result
	where 1=1
	'''
	sql_v1 = ''' 
	select *
	from moyo_scraping.mno_scraping_result
	where 1=1
	    and version = 1 
	'''
	sql_v2 = '''
	select *
	from moyo_scraping.mno_scraping_result
	where 1=1
	    and version = 2
	'''
	df_v1= wr.athena.read_sql_query(sql=sql_v1, database="moyo_order")
	df_v2= wr.athena.read_sql_query(sql=sql_v2, database="moyo_order")
	df = wr.athena.read_sql_query(sql=sql, database="moyo_order")
	
	request_result = zip(df_v1.request_id, df_v1.result)
	parsed_data_v1 = []
	for (request_id, result) in request_result:
	    parsed_data_v1.append({'request_id': request_id, **json.loads(result)})
	
	request_result = zip(df_v2.request_id, df_v2.result)
	parsed_data_v2 = []
	for (request_id, result) in request_result:
	    parsed_data_v2.append({'request_id': request_id, **json.loads(result)})
	
	request_result = zip(df.request_id, df.result)
	parsed_data = []
	for (request_id, result) in request_result:
	    parsed_data.append({'request_id': request_id, **json.loads(result)})
	
	
	# load json
	# main 
	df_scraping_main = pd.json_normalize (parsed_data 
	                , sep = '_'
	                )
	
	bucket = 'moyo-mart'
	table_name = 'scraping_main'
	res = wr.s3.to_parquet(
	    df=df_scraping_main,
	    path=f"s3://{bucket}/{table_name}/",
	    dataset=True,
	    database="moyo_mart",
	    table=table_name,
	    mode="overwrite_partitions", 
	    # partition_cols=['date_ymd']
	)
	#bill- v1, v2
	df_scraping_bill_v1 = pd.json_normalize (parsed_data_v1 
	                , sep = '_'
	                , record_path= ['paymentHistory','billDetails','items'] 
	                , meta = ['request_id',['paymentHistory','billedDate']]
	                # ,meta_prefix="main_"
	                )
	df_scraping_bill_v2 = pd.json_normalize (parsed_data_v2
	                , sep = '_'
	                , record_path= ['billingHistory','billDetails','items'] 
	                , meta = ['request_id',['paymentHistory','billedDate']]
	                # ,meta_prefix="main_"
	                )
	df_scraping_bill = df_scraping_bill_v2.append(df_scraping_bill_v1)
	bucket = 'moyo-mart'
	table_name = 'scraping_bill'
	res = wr.s3.to_parquet(
	    df=df_scraping_bill,
	    path=f"s3://{bucket}/{table_name}/",
	    dataset=True,
	    database="moyo_mart",
	    table=table_name,
	    mode="overwrite_partitions", 
	    # partition_cols=['date_ymd']
	)
	#discount 
	df_scraping_discount_v1 = pd.json_normalize (parsed_data_v1
	                , sep = '_'
	                , record_path= ['paymentHistory','discountDetails','items'] 
	                , meta = ['request_id',['paymentHistory','paidDate']]
	                # ,meta_prefix="main_"
	                )
	df_scraping_discount_v2 = pd.json_normalize (parsed_data_v2
	                , sep = '_'
	                , record_path= ['billingHistory','discountDetails','items'] 
	                , meta = ['request_id',['billingHistory','billedDate']]
	                # ,meta_prefix="main_"
	                )
	df_scraping_discount= df_scraping_discount_v2.append(df_scraping_discount_v1)
	
	bucket = 'moyo-mart'
	table_name = 'scraping_discount'
	res = wr.s3.to_parquet(
	    df=df_scraping_discount,
	    path=f"s3://{bucket}/{table_name}/",
	    dataset=True,
	    database="moyo_mart",
	    table=table_name,
	    mode="overwrite_partitions", 
	    # partition_cols=['date_ymd']
	)
	
	#usage 
	df_scraping_usage = pd.json_normalize (parsed_data 
	                , sep = '_'
	                , record_path= ['mobileUsageHistory'] 
	                , meta = ['request_id']
	                # ,meta_prefix="main_"
	                )
	
	bucket = 'moyo-mart'
	table_name = 'scraping_usage'
	res = wr.s3.to_parquet(
	    df=df_scraping_usage,
	    path=f"s3://{bucket}/{table_name}/",
	    dataset=True,
	    database="moyo_mart",
	    table=table_name,
	    mode="overwrite_partitions", 
	    # partition_cols=['date_ymd']
	)
	
	#family
	df_scraping_family = pd.json_normalize (parsed_data 
	                , sep = '_'
	                , record_path= ['familyBundleMembers'] 
	                , meta = ['request_id']
	                # ,meta_prefix="main_"
	                )
	
	bucket = 'moyo-mart'
	table_name = 'scraping_family'
	res = wr.s3.to_parquet(
	    df=df_scraping_family,
	    path=f"s3://{bucket}/{table_name}/",
	    dataset=True,
	    database="moyo_mart",
	    table=table_name,
	    mode="overwrite_partitions", 
	    # partition_cols=['date_ymd']
	)

In [5]:
import awswrangler  as wr
import pandas as pd
# import pymysql
# import datetime

def lambda_handler(event, context):

    sql_query = """
    select * 
    from moyo_logs.user_behavior_logs 
    where 1=1 
        and date_ymd = '2023-04-01'
    limit 10 
    """

    df = wr.athena.read_sql_query(sql=sql_query, database="moyo_logs")

    bucket = 'moyo-mart'
    table_name = 'just_test_temp'

    res = wr.s3.to_parquet(
        df=df,
        path=f"s3://{bucket}/{table_name}/",
        dataset=True,
        database="moyo_mart",
        table=table_name,
        mode="overwrite_partitions",
        # partition_cols=['date_ym']
    )

    #################

    sql_query2 = """
    select * 
    from moyo_logs.user_behavior_logs 
    where 1=1 
        and date_ymd = '2023-04-01'
    limit 10 
    """

    df = wr.athena.read_sql_query(sql=sql_query2, database="moyo_logs")

    bucket = 'moyo-mart'
    table_name = 'just_test_temp2'

    res = wr.s3.to_parquet(
        df=df,
        path=f"s3://{bucket}/{table_name}/",
        dataset=True,
        database="moyo_mart",
        table=table_name,
        mode="overwrite_partitions",
        # partition_cols=['date_ym']
    )

In [7]:
import awswrangler  as wr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import datetime
import json
# load sql
sql = '''
select *
from moyo_scraping.mno_scraping_result
where 1=1
limit 10 
'''
df = wr.athena.read_sql_query(sql=sql, database="moyo_order")
#####################################################################################
df.head()

,id,request_id,version,result,unprocessed_result,reg_ts,stamp_date
0,8,8,1,"{""profile"": {""name"": ""정*진"", ""telecom"": ""SKT"", ...",<NA>,2023-05-04 21:37:01,2023-06-05
1,9,9,1,"{""profile"": {""name"": ""오*수"", ""telecom"": ""SKT"", ...",<NA>,2023-05-04 22:03:37,2023-06-05
2,10,12,1,"{""profile"": {""name"": ""신지*"", ""telecom"": ""KT"", ""...",<NA>,2023-05-04 22:33:19,2023-06-05
3,1,1,1,"{""profile"": {""name"": ""임*빈"", ""telecom"": ""SKT"", ...",<NA>,2023-05-04 20:44:58,2023-06-05
4,2,2,1,"{""profile"": {""name"": ""김*진"", ""telecom"": ""SKT"", ...",<NA>,2023-05-04 20:46:57,2023-06-05